.Body {
    text-align: center;
    min-height: 90vh;
  }

  .Body-links {
    text-align: center;
  }
  
  .Body-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Body-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Body-container {
    justify-content: space-between;
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .Body-container2 {
    justify-content: space-between;
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .Body-container2 {
    justify-content: space-between;
    display: flex;
    align-content: center;
    flex-direction: column;
  }
  
  .Body-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Body-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  