.Header-container {
    background-color: #e34a5f;
    display: flex;
    height: 5vh;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

.Header-logo {
  width: 10%; 
  height: auto; 
  margin-left: 10%;
  }
  
.Header-title {
    font-size: 25px;
  }

.Header-arabic-toggle {
    font-size: 25px;
    margin-right: 10%;
  }