.Header-container {
    background-color: #e34a5f;
    display: flex;
    top: 0;
    height: 5vh;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

.Header-logo {
  width: 10%; 
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto; 
  margin-left: 10%;
}
  
.Header-title {
  display: flex;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  vertical-align: middle;
  line-height: 5vh; 
  font-size: 20px;
}

.Header-arabic-toggle {
    font-size: 25px;
    display:inline;
    vertical-align: middle;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin-right: 10%;
}


  