.Header-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
  }
  
.Header-title {
    font-size: 25px;
  }

.Header-arabic-toggle {
    font-size: 25px;
  }